<!DOCTYPE html>
<html>
  <head>
    <title>Pizzaria!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div id="user_header">
    <% if logged_in? %>
      <header>
        <h1 id="application-name"><a href="/">Pizzaria!</a></h1>
        <nav>
          <ul>
              <li><a href="/customers">Customers</a></li>
              <li><a href="/addresses">Addresses</a></li>
              <li><a href="/orders">Orders</a></li>
              <li><a href="/pizzas">Pizzas</a></li>
              <li><a href="/pizza_orders">Bind Order-Pizza</a></li>
              <li><%= link_to 'Logout', session_path('bogus-id'), method: :delete %></li>
            </ul>
        </nav>
      </header>



    <% else %>
      <h1 id="application-name"><a href="/">Pizzaria!</a></h1>
      <div id="login-div">
        <%= link_to "Sign Up", signup_path %>
        <%= link_to "Log In", login_path %>  
      </div>
    <% end %>

    <main>
      <%= yield %>
    </main>

  </div>

  </body>
</html>
